.inline-block {
  display: inline-block;
}

.pointer {
  cursor: pointer;
}

.filter-item {
  border-right: 1px solid lightgrey;
  padding: 0 15px;
  &:last-child {
    border-right: none;
  }
}

.filter-conditions {
  display: flex;

  label {
    display: none;
    &.show {
      display: block;
      input {
        margin-right: 5px;
      }
    }
  }

  .col-sm-7 {
    width: 100%;
    min-width: 150px;
    padding: 0 3px;
    span {
      margin-left: 5px;
    }
  }

  .date-range {
    .from, .to {
      margin-bottom: 10px;
      position: relative;
    }
    .range-content {
      display: flex;
      input {
        width: unset;
        margin: 0;
        display: inline-block;
      }
      .square-grey {
        width: 34px;
        height: 34px;
        background-color: lightgrey;
        cursor: pointer;
      }
    }
  }
  .stores {
    width: 100%;
    position: relative;
    select {
      display: block;
      width: 100%;
      height: 30px;
    }
    .select-custom {
      .main-area {
        border: solid 1px #ccc;
        border-radius: 5px;
        height: 30px;
        padding-left: 10px;
        cursor: pointer;
        span {
          line-height: 30px;
        }
        div {
          line-height: 30px;
          float: right;
          padding-right: 10px;
          i {
            display: block;
            font-size: 10px;
            margin: 0;
            padding: 0;
            &.fa-caret-up {
              padding-top: 5px;
            }
            &.fa-caret-down {
              margin-top: -5px;
            }
          }
        }
      }
      ul {
        position: absolute;
        padding-left: 0px;
        border: solid 1px #cccccc;
        width: 100%;
        li {
          list-style: none;
          cursor: pointer;
          padding-left: 10px;
          &:hover {
            background-color: #cccccc;
          }
        }
      }
    }

  }

}

.chart {
  padding: 20px 40px 0 0;
  height: 300px;
  background-color: white;
  position: relative;

  .rotate {
    position: absolute;
    top: 35%;
    font-size: 16px;
    color: lightgrey;
    &.left {
      //left: -30px;
    }
    &.right {
      right: -30px;
    }
    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

  }
}

.radio-inline {
  display: flex !important;
  padding-left: 3px;
  .circle-radio {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid darkgray;
    border-radius: 50%;
    margin-right: 5px;

    &.active {
      border: 1px solid deepskyblue;
      .circle-inside {
        display: block;
      }
    }

    .circle-inside {
      margin: 0 auto;
      margin-top: 3px;
      display: none;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: deepskyblue;
    }
  }
}

.checkbox-inline {
  display: flex !important;
  align-items: center;
  padding-left: 3px;
  .square-checkbox {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid darkgray;
    border-radius: 2px;
    margin-right: 5px;

    &.active {
      border: 1px solid deepskyblue;
      .square-inside {
        display: block;
      }
    }

    .square-inside {
      margin: 0 auto;
      margin-top: 2.5px;
      display: none;
      width: 9px;
      height: 9px;
      border-radius: 2px;
      background-color: deepskyblue;
    }
  }
}

